<main>
    <app-background-preto id="sobreId"
      primeiraImagem="assets/img/sobre/imagem_2.png"
      segundaImagem="assets/img/sobre/imagem_1.png"
      terceiraImagem="assets/img/sobre/imagem_3.png"
      textoBotao="Agende seu horário"
    >
      <h2>Sobre Nós</h2>
      <p style="margin-bottom: 30px;">Seja bem vinda ao Donna Salão!</p>
      <p style="margin-bottom: 30px;">
        Sofisticação e modernidade, com o talento dos mais experientes
        profissionais do mercado. O salão foi concebido para oferecer serviços
        voltados à beleza feminina. Buscamos proporcionar uma experiência
        completa de saúde e bem-estar, que começa desde o atendimento e vai até
        o resultado final, transformando assim a visita do cliente em um momento
        prazeroso. Aqui você encontra uma equipe treinada e capacitada para
        cuidar, orientar e ensinar como cuidar dos seus cabelos, não só de uma
        forma técnica, mas sim, com todo amor que ele merece.
      </p>
    </app-background-preto>

  <section>
    <div class="equipe">
      <div>
        <h2>Equipe</h2>
        <p>
          A equipe do Donna Salão tem a mesma pluralidade dos nossos clientes:
          cada um com seu jeito e estilo, mas com um propósito único de fazer com que as
          pessoas saiam do espaço se reencontrando consigo mesma e se amando.
          Todo o processo do Donna, desde o agendamento, realização do serviço até o ensaio
          fotográfico (que é oferecido a cliente como cortesia ao final do seu atendimento), tem como propósito oferecer uma experiência apaixonate as clientes Donna, principalmente por saber que, por trás de toda beleza, existe uma história para contar, valorizamos cada história.
        </p>
      </div>
      <app-profissionais
        [profissionais]="funcionarios"
        (idFuncionario)="getIdFuncionario($event)" [routerLink]="['/agendamento']" fragment="agendamentoId"
    ></app-profissionais>
    </div>
  </section>
</main>
