<footer>
  <div class="footer-container">
    <div>
      <img
        src="assets/img/home/marca-pb.png"
        width="160"
        height="30"
        alt="Donna"
      />
    </div>

    <ul>
      <li><h3>Contato</h3></li>
      <li><p>(11)4000-0000</p></li>
      <li><p>(11)90000-0000</p></li>
      <li><a href="mailto: atendimento@donna.com.br">atendimento@donna.com.br</a></li>
      <li><p>Rua Pedroso Alvarenga, 55012</p></li>
      <li><p>Itaim Bibi,  São Paulo - SP, 4531012</p></li>
      <li><p>Manobrista no local</p></li>
    </ul>

    <ul>
      <li><h3>Serviços</h3></li>
      <li><a [routerLink]="['servicos']" fragment="capilarId">Procedimentos Capilares</a></li>
      <li><a [routerLink]="['servicos']" fragment="noivaId">Dia da Noiva</a></li>
      <li><a [routerLink]="['servicos']" fragment="peMaoId">Manicure e Pedicure</a></li>
      <li><a [routerLink]="['servicos']" fragment="maquiagemId">Maquiagem</a></li>
      <li><a [routerLink]="['servicos']" fragment="sobrancelhaId">Sobrancelha</a></li>
      <li><a [routerLink]="['servicos']" fragment="fidelidadeId">Programa de Fidelidade</a></li>
    </ul>


  </div>
  <p class="p-footer">Donna © 2023 - Desenvolvido por Kelly Vasconcellos</p>
</footer>
