<header>
  <section class="container-menu">
    <div class="menu">
      <div class="nome-marca">
        <a href="./">
          <img
            src="assets/img/home/marca.png"
            width="160"
            height="30"
            alt="Donna"
          />
        </a>
      </div>
      <button [routerLink]="['/home']" fragment="homeId" class="botao-login">
        <p><a>Sair</a></p>
      </button>
    </div>
  </section>
</header>

<main>
  <div class="container-calendario">
    <div *ngIf="usuario" class="usuario-perfil">
      <p class="chamada">Olá,&nbsp;{{ usuario.nome }}</p>

      <div class="botao-editar">
        <p>Editar Perfil</p>
        <a (click)="open()">
          <img src="assets/img/home-fechada/editar.png" width="40px" />
        </a>
      </div>
    </div>

    <div class="agenda-calendario">
      <div class="caixa-agendamento">
        <app-profissionais
          *ngIf="funcionario.length"
          [profissionais]="funcionario"
          class="imagem"
        ></app-profissionais>

        <app-lista-servico
          *ngIf="servico.length"
          [servicos]="servico"
          [showBotao]="false"
          class="servicos-agendamento"
        ></app-lista-servico>
      </div>

      <div class="calendario">
        <app-calendario (calendario)="pegaDataSelecionada($event)"></app-calendario>
        <div *ngIf="apareceBotoes">
          <input
          *ngFor="let item of horarios"
          (click)="gethorario(item)" [ngClass]="{ rosa_escuro: pegaHorario == item}"
          class="btn btn-primary"
          type="button"
          value="{{ item }}"
        />
        </div>
        <button *ngIf=" pegaHorario != '' " type="button" class="btn btn-success" (click)="agendar()">Agendar</button>
      </div>
      <div [ngClass]="{'alert_opacity':alert}" class="alert alert-success" role="alert">
        {{mensagem}}
      </div>
      <div [ngClass]="{'alert_opacity':alertDanger}" class="alert alert-danger" role="alert">
        {{mensagemDanger}}
      </div>
    </div>
  </div>

  <div class="lista-geral">
    <div class="lista" *ngFor="let item of listaAgendamento">
      <p>Profissional:	&nbsp;{{ item.nome_funcionario}}</p>
      <p>Serviço:	&nbsp;{{ item.nome_servico}}</p>
      <p>Dia:	&nbsp;{{ item.horario.dia}}</p>
      <p>Horario:	&nbsp;{{ item.horario.horario}}</p>
    </div>
  </div>

</main>
<app-footer></app-footer>
