<main id="servicosId">
  <section>
    <div class="caixa-servicos" id="capilarId">
      <div class="caixa-texto">
        <h2>Procedimentos Capilares</h2>
        <p>
          Nossa equipe trabalha com as melhores marcas e produtos de beleza do
          mercado e é treinada para desenvolver todos os procedimentos
          capilares.É muito importante que o cabelo traduza a sua personalidade,
          seja ele longo, curto, liso, cacheado ou colorido:
        </p>
        <li>Avaliação de Cor</li>
        <li>Coloração</li>
        <li>Corte com lavagem ou a seco</li>
        <li>Lavagem e Finalização</li>
        <li>Mechas Ombré</li>
        <li>Hidratação</li>
        <li>Penteado</li>
      </div>
      <div class="div-imagem">
        <img src="assets/img/servicos/cabelo.png" />
      </div>
    </div>

    <div class="caixa-servicos" id="noivaId">
      <div class="caixa-texto">
        <h2>Dia da Noiva</h2>
        <p>
          Esse momento único e marcante chegou e estamos honrados em fazer parte
          dele. Cuidaremos de cada detalhe para que você tenha uma experiência
          inesquecível com o Donna, os serviços oferecidos são:
        </p>
        <li>Penteado</li>
        <li>Maquiagem</li>
        <li>Manicure e Pedicure</li>
        <li>Colocação de Arranjo, véu, grinalda e flores</li>

        <p>Cortesia:</p>
        <li>Refeição balanceada e frutas da época</li>
        <li>Brinde com espumante para noiva</li>
      </div>
      <div class="div-imagem">
        <img src="assets/img/servicos/noivas.png" />
      </div>
    </div>

    <div class="caixa-servicos" id="peMaoId">
      <div class="caixa-texto">
        <h2>Manicure e Pedicure</h2>
        <p>
          Temos uma seleção de esmaltes nacionais e importados e seguimos todas
          as normas de biossegurança:
        </p>
        <li>Esmaltação tradcional</li>
        <li>Alongamento de unha de gel</li>
        <li>Blindagem</li>
        <li>Podologia</li>
      </div>
      <div class="div-imagem">
        <img src="assets/img/servicos/unha.png" />
      </div>
    </div>

    <div class="caixa-servicos" id="maquiagemId">
      <div class="caixa-texto" id="maquiagemId">
        <h2>Maquiagem</h2>
        <p>
          Fazemos maquiagens para todos os tipos de eventos, com os melhores
          produtos e marcas. Nossos profissionais são especialistas em maquiagem
          social ou air brush:
        </p>
        <li>Maquiagem Social</li>
        <li>Maquiagem Airbrush</li>
      </div>
      <div class="div-imagem">
        <img src="assets/img/servicos/maquiagem.png" />
      </div>
    </div>

    <div class="caixa-servicos" id="sobrancelhaId">
      <div class="caixa-texto">
        <h2>Sobrancelha</h2>
        <p>
          Nossas técnicas exclusivas encontram o design ideal de sobrancelhas
          que realça a beleza e a expressão natural de cada rosto:
        </p>
        <li>Modelagem</li>
        <li>Brow lamination</li>
      </div>
      <div class="div-imagem">
        <img src="assets/img/servicos/sobrancelha.png" />
      </div>
    </div>

    <div class="caixa-servicos" id="fidelidadeId">
      <div>
        <h2>Programa de Fidelidade</h2>
        <p>
          Oferecemos as melhores oportunidades para quem já é nossa cliente,
          possuímos programa de fidelidade para:
        </p>
        <li>
          Pé e Mão - pacote mensal com direito a coloração das mãos 1x por
          semana e pés a cada 15 dias.
        </li>
        <li>
          Babyliss - pacote mensal inclui 4 modelagens no mês (1x por semana)
        </li>
        <li>
          Penteado - pacote mensal inclui 4 penteados no mês (1x por semana)
        </li>
        <li>
          Maquiagem manual casual - pacote dá direito a 4 maquiagens que podem
          ser utilizadas de acordo com a necessidade da cliente.
        </li>
        <p>
          Obs: A contratação deve ser feita presencialmente no salão, sujeito a
          disponibilidade.
        </p>
      </div>
      <div class="imagem">
        <img src="assets/img/servicos/penteado.png" />
      </div>
    </div>
  </section>
</main>
