<header>
  <section class="container-menu">
    <div class="menu">
      <div class="nome-marca">
        <a href="./">
          <img
            src="assets/img/home/marca.png"
            width="160"
            height="30"
            alt="Donna"
          />
        </a>
      </div>
    </div>
    <div class="menu-texto" id="homeId">
      <h1>
        O seu cabelo em <span>boas mãos</span><br />
        e a sua autoestima <br />restaurada
      </h1>
      <img src="assets/img/template/imagem_1.png" width="400px" />
    </div>
  </section>
</header>

<!-- Aqui deverá rotear todos as páginas -->
<router-outlet></router-outlet>

<app-footer></app-footer>
