<main>
  <div class="container-calendario">
    <div class="agenda-calendario">
      <div class="caixa-agendamento">

        <app-profissionais
          *ngIf="funcionario.length"
          [profissionais]="funcionario"
          class="imagem"
        ></app-profissionais>

        <app-lista-servico
          *ngIf="servico.length"
          [servicos]="servico"
          [showBotao]="false"
          class="servicos-agendamento"
        ></app-lista-servico>
      </div>

      <div class="formulario-nome">
        <div>
          <input type="text" class="form-control" id="nomeClienteId" placeholder="Nome Completo">
          <small class="form-text text-muted">Campo obrigatório.</small></div>
        <div>
          <input type="email" class="form-control" id="emailClienteId" placeholder="E-mail">
        <small class="form-text text-muted">Campo obrigatório.</small>
        </div>
      </div>

      <div class="calendario">
        <app-calendario
          (calendario)="pegaDataSelecionada($event)"
        ></app-calendario>
        <div *ngIf="apareceBotoes">
          <input
            *ngFor="let item of horarios"
            (click)="gethorario(item)"
            [ngClass]="{ rosa_escuro: pegaHorario == item }"
            class="btn btn-primary"
            type="button"
            value="{{ item }}"
          />
        </div>
        <button
          *ngIf="pegaHorario != ''"
          type="button"
          class="btn btn-success"
          (click)="agendar()"
        >
          Agendar
        </button>
      </div>
      <div
        [ngClass]="{ alert_opacity: alert }"
        class="alert alert-success"
        role="alert"
      >
        {{ mensagem }}
      </div>
      <div
        [ngClass]="{ alert_opacity: alertDanger }"
        class="alert alert-danger"
        role="alert"
      >
        {{ mensagemDanger }}
      </div>
    </div>
  </div>
</main>
