<div class="body">
  <input type="checkbox"  class="openSidebarMenu" id="openSidebarMenu">
  <label for="openSidebarMenu" class="sidebarIconToggle" >
      <div class="spinner diagonal part-1"></div>
      <div class="spinner horizontal"></div>
      <div class="spinner diagonal part-2"></div>
  </label>
  <div id="sidebarMenu">
        <div class="main-content-wrapper">
          <a [routerLink]="['home']" fragment="homeId">Home</a>
          <a [routerLink]="['sobre']" fragment="sobreId">Sobre Nós</a>
          <a [routerLink]="['servicos']" fragment="servicosId">Serviços</a>
          <a [routerLink]="['agendamento']" fragment="agendamentoId">Agendamento</a>
          <a [routerLink]="['contato']" fragment="contatoId">Contato</a>
          <a [routerLink]="['login']" fragment="loginId">Login</a>
        </div>
    </div>
</div>
